<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <p class="header">Login to see more</p>
        
        <form action="/login" method="post">
          <input
            type="text"
            placeholder="UserName"
            name="username"
            class="detail"
          /><br />
          <input
            type="password"
            placeholder="Password"
            name="password"
            class="detail"
          />
          <input type="submit" class="btn int" value="Login" />
        </form>

        <a href="/forgot">Forgot your password?</a>

        <footer>
          <p></p>
          <a href="/">Yet to register</a>
        </footer>
      </div>
    </div>
  </body>
</html>